.Background {
  background-size: 100% 100%;
}

.Title {
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  color: grey;
  line-height: 1.2em;
  text-shadow:
    4px 4px #365dbf,
    -4px -4px #b152a0;
}

.Subtitle {
  font-size: 24px;
}

.Button {
  height: 40px;
  width: 160px;
  margin: auto;
  background-color: rgb(83, 163, 83);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  color: white;
  box-shadow:
    0px 5px grey,
    0px -5px grey,
    5px 0px grey,
    -5px 0px grey,
    0px 10px #00000038,
    5px 5px #00000038,
    -5px 5px #00000038,
    inset 0px 5px #ffffff1f,
    inset 0px -5px #00000030;
}

.Bounce {
  animation: bounce 1s linear infinite;
}

.Shake {
  animation: bounce 0.5s ease-out infinite;
}

@keyframes bounce {
  50% {
    transform: translate(0, 5px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
