@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  font-family: "Press Start 2P", system-ui;
}

.Background {
  background-size: 100% 100%;
}

.Title {
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  color: grey;
  line-height: 1.2em;
  text-shadow:
    5px 5px #365dbf,
    -5px -5px rgb(177, 82, 160);
}

.Subtitle {
  font-size: 24px;
}

.Button {
  height: 40px;
  width: 160px;
  margin: auto;
  background-color: rgb(83, 163, 83);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: white;
  box-shadow:
    0px 5px grey,
    0px -5px grey,
    5px 0px grey,
    -5px 0px grey,
    0px 10px #00000038,
    5px 5px #00000038,
    -5px 5px #00000038,
    inset 0px 5px #ffffff1f,
    inset 0px -5px #00000030;
}

.Bounce {
  animation: bounce 1s linear infinite;
}

@keyframes bounce {
  50% {
    transform: translate(0, 5px);
  }
}
