@keyframes bar-kf {
  0% {
    background-position-x: 0px;
  }

  100% {
    /* transform: translateX(calc(50vw)); */
    /* transform: translateX(50%); */
    background-position-x: 50px;
  }
}

.Bar {
  animation-name: bar-kf;
  height: full;
  /* transform: scale(0.8); */
  left: 50%;
  top: 50%;
}

@keyframes heart-kf {
  0% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.Heart {
  animation-name: heart-kf;
}

@keyframes shake {
  0% {
    transform: translate(0, -8px);
  }
  25% {
    transform: translate(0, 8px);
  }
  50% {
    transform: translate(0, -4px);
  }
  75% {
    transform: translate(0, 4px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.Shake {
  animation: shake 0.3s ease-out;
}
